body {
    font-family: "Georgia", serif;
}

.sidenav {
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 160px;
    right: 16px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #2196f3
}

.sidenav a:hover {
    color: #064579
}

.main {
    margin-left: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav { padding-top: 15px; }
}
