{% extends "default.html" %}
{% block title %}About{% endblock title %}
{% block header %}<h2>Journal Reader</h2>{% endblock header %}
{% block content %}
  <p>
    Parses a properly formatted file and enables reading it in a more
    comfortable manner with colors that are not black and white like a
    terminal window.&nbsp;&nbsp;Be sure to put on some music that
    matches the feels.
  </p>
  <p>
    There is an encryption algorithm implemented, guarded by a key.
    &nbsp;&nbsp;If you are looking for one, chances are that you're
    somewhere you shouldn't be.&nbsp;&nbsp;Be a good person and respect
    others' privacy.
    <blockquote class="small">
      The code is open source!&nbsp;&nbsp;Figure out the algorithm
      and brute force the key.&nbsp;&nbsp;Or better if a ton of data
      is available, make out the key from the data like a real
      cryptographer.&nbsp;&nbsp;The algorithm is quite simple.
    </blockquote>
  </p>
  <p>
    This project is
    <a target="_blank"
       href="https://github.com/aritra1911/reader">open source</a>.
  </p>
  <p>
    Designed and developed with <span style="color: #b94681;">&#9829;
    </span> by Aritra Sarkar.<br />Email at:
    <a href="mailto:aritra1911@yahoo.com">aritra1911@yahoo.com</a>
  </p>
  <br />
  <p>
    <h4>Server Info:</h4>
    <pre>
        Software : {{ server }}
          System : {{ os_uname.sysname }}
         Version : {{ os_uname.release }}
            Arch : {{ os_uname.machine }}
          Python : {{ py_version }}
           Flask : {{ flask_version }}
          Uptime : {{ uptime }}</pre>

    {% if py_releaselevel != 'final' %}
    <blockquote class="small">
      Seems like this is working well on
      {{ 'an' if py_releaselevel =='alpha' else 'a' }} {{ py_releaselevel }}
      release.&nbsp;&nbsp;You might still wanna check the other pages
      and try to break something.&nbsp;&nbsp;Upon successfully breaking
      something, report the issue to whomever it may concern.
    </blockquote>
    {% endif %}
  </p>
{% endblock content %}
{% block sidebarlinks %}
  <a href="{{ url_for('index') }}">Index</a>
{% endblock sidebarlinks %}
