<!DOCTYPE html>

<html>
 
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
        <h2>{% block header %}{% endblock header %}</h2>
        {% block content %}{% endblock content %}
      </div>
      <div class="sidenav">
        {% block sidebarlinks %}{% endblock sidebarlinks %}
      </div>
    </div>
  </body>

</html>
