<!DOCTYPE html>

<html>

  <head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body class="{% block bodyclass %}{% endblock bodyclass %}">
    <div class="{% block divclass %}{% endblock divclass %}"
         id="content-wrap">
      {% block contents %}{% endblock contents %}
    </div><div class="sidenav">
      {% block sidebarlinks %}{% endblock sidebarlinks %}
    </div>
  </body>

</html>
