{% extends "centered.html" %}
{% block title %}Enter Key{% endblock title %}
{% block header %}<h2>Enter Key</h2>{% endblock header %}
{% block content %}
<form method="post">
  <table>
    <tr>
      <td><label for="key">Key:</label></td>
      <td><input type="password" name="key" /></td>
    </tr>
  </table>
  <br />
  <input type="submit" value="Enter" />
</form>
{% endblock content %}
{% block sidebarlinks %}
  <a href="{{ url_for('index') }}">Index</a>
  <a href="{{ url_for('about') }}">About</a>
{% endblock sidebarlinks %}
