{% extends "base.html" %}
{% block title %}Enter Key{% endblock title %}
{% block header %}Enter Key{% endblock header %}
{% block content %}
<form method="post">
    <label for="key">Key:</label>
    <input type="password" name="key" />
    <input type="submit" value="Enter" />
  </form>
{% endblock content %}
{% block sidebarlinks %}
  <a href="{{ url_for('index') }}">Index</a>
  <a href="{{ url_for('remove_key') }}">Remove Key</a>
  <a href="{{ url_for('about') }}">About</a>
{% endblock sidebarlinks %}
