{% extends "base.html" %}
{% block title %}/{% endblock title %}
{% block header %}<h2>/Index</h2>{% endblock header %}
{% block content %}
  {% for category, files in menu.items() %}
  <h4>{{ category }}</h4>
    <ul>
      {% for file, title in files.items() %}
        <li>
          <a href="/{{ file }}">{{ file }}</a> -- {{ title[0] }}
          {% if title|length > 1 %}
            &hellip;
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock content %}
{% block sidebarlinks %}
  <a href="{{ url_for('enter_key',
                      next=request.endpoint, **request.view_args
              ) }}">Enter Key</a>
  {% if key_exists %}
    <a href="{{ url_for('remove_key',
                        next=request.endpoint, **request.view_args
                ) }}">Remove Key</a>
  {% endif %}
  <a href="{{ url_for('about') }}">About</a>
{% endblock sidebarlinks %}
