{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title %}
{% block header %}{{ title }}{% endblock header %}
{% block content %}
  {% for paragraph in body %}
    <p>
    {% for line in paragraph %}
      {{ line }}<br>
    {% endfor %}
    </p>
  {% endfor %}
{% endblock content %}
{% block sidebarlinks %}
  <a href="{{ url_for('index') }}">Index</a>
  <a href="{{ url_for('enter_key',
                      next=request.endpoint, **request.view_args
              ) }}">Enter Key</a>
  <a href="{{ url_for('remove_key',
                      next=request.endpoint, **request.view_args
              ) }}">Remove Key</a>
  <a href="{{ url_for('about') }}">About</a>
{% endblock sidebarlinks %}
