{% extends "base.html" %}
{% block title %}{{ filename }}{% endblock title %}
{% block header %}
  <h2 style="margin-bottom: 0;">{{ title }}</h2>
  <i style="color: #26735e;">{{ date }}</i>
{% endblock header %}
{% block content %}
  {% for paragraph in body %}
    <p>
    {% for line in paragraph %}
      {{ line }}<br>
    {% endfor %}
    </p>
  {% endfor %}
{% endblock content %}
{% block sidebarlinks %}
  <a href="{{ url_for('index') }}">Index</a>
  <a href="{{ url_for('enter_key',
                      next=request.endpoint, **request.view_args
              ) }}">Enter Key</a>
  {% if key_exists %}
    <a href="{{ url_for('remove_key',
                        next=request.endpoint, **request.view_args
                ) }}">Remove Key</a>
  {% endif %}
  <a href="{{ url_for('about') }}">About</a>
{% endblock sidebarlinks %}
